* text=auto !eol
SDSSconnect/DatabaseConnect.py -text
SDSSconnect/LICENSE -text
SDSSconnect/README.md -text
SDSSconnect/__init__.py -text
SDSSconnect/etc/repr.dat -text
SDSSconnect/exceptions.py -text
SDSSconnect/models/__init__.py -text
SDSSconnect/models/mangaDB.py -text
SDSSconnect/models/plateDB.py -text
SDSSconnect/models/utils.py -text
SDSSconnect/tests/__init__.py -text
SDSSconnect/tests/test_DatabaseConnect.py -text
