* text=auto !eol
/__init__.py -text
/apoDB.py -text
core/__init__.py -text
core/colourPrint.py -text
core/configuration.py -text
core/logger.py -text
core/setupTools.py -text
data/FinalSchedAPO.dat -text
data/Sch_base.6yrs.txt.frm.dat -text
data/finalTilingCatalogue_v0.5.fits -text
data/tmpSchedule.dat -text
dbclasses/__init__.py -text
dbclasses/exposure.py -text
dbclasses/field.py -text
dbclasses/plate.py -text
dbclasses/set.py -text
/defaults.yaml -text
/exceptions.py -text
helpers/__init__.py -text
helpers/addFields.py -text
helpers/addTiles.py.bak -text
helpers/createSchedule.py -text
helpers/createWorkableDB.py -text
helpers/loadMockData.py -text
helpers/tilecenters_180_SGC.fits -text
logic/__init__.py -text
logic/mangaLogic.py -text
logic/mangaLogicTimeline.py -text
logic/setArrangement.py -text
output/__init__.py -text
output/output.py -text
output/tabularOutput.py -text
/readPath.py -text
scheduler/__init__.py -text
scheduler/observingPlan.py -text
scheduler/scheduler.py -text
scheduler/timeline.py -text
tests/__init__.py -text
tests/testAPOcomplete.py -text
tests/testDB.py -text
tests/testMangaSampleParameters.py -text
tests/testNightly.py -text
tests/testOutput.py -text
tests/testPlanner.py -text
tests/testPlugger.py -text
tests/unitTestPlates.py -text
tests/unitTestSets.py -text
utils/__init__.py -text
utils/intervals.py -text
utils/utils.py -text
