/*.egg
/*.egg-info
/*.mo
/*.so
/*.sublime*
/.bak
/.coverage
/.installed.cfg
/.mr.developer.cfg
/.project
/.py[cod]
/.pydevproject
/.tox
SDSSconnect/*.egg
SDSSconnect/*.egg-info
SDSSconnect/*.mo
SDSSconnect/*.so
SDSSconnect/*.sublime*
SDSSconnect/.bak
SDSSconnect/.coverage
SDSSconnect/.installed.cfg
SDSSconnect/.mr.developer.cfg
SDSSconnect/.project
SDSSconnect/.py[cod]
SDSSconnect/.pydevproject
SDSSconnect/.tox
SDSSconnect/SDSSconnect/*.egg
SDSSconnect/SDSSconnect/*.egg-info
SDSSconnect/SDSSconnect/*.mo
SDSSconnect/SDSSconnect/*.so
SDSSconnect/SDSSconnect/*.sublime*
SDSSconnect/SDSSconnect/.bak
SDSSconnect/SDSSconnect/.coverage
SDSSconnect/SDSSconnect/.installed.cfg
SDSSconnect/SDSSconnect/.mr.developer.cfg
SDSSconnect/SDSSconnect/.project
SDSSconnect/SDSSconnect/.py[cod]
SDSSconnect/SDSSconnect/.pydevproject
SDSSconnect/SDSSconnect/.tox
SDSSconnect/SDSSconnect/__pycache__
SDSSconnect/SDSSconnect/build
SDSSconnect/SDSSconnect/develop-eggs
SDSSconnect/SDSSconnect/dist
SDSSconnect/SDSSconnect/eggs
SDSSconnect/SDSSconnect/etc/*.egg
SDSSconnect/SDSSconnect/etc/*.egg-info
SDSSconnect/SDSSconnect/etc/*.mo
SDSSconnect/SDSSconnect/etc/*.so
SDSSconnect/SDSSconnect/etc/*.sublime*
SDSSconnect/SDSSconnect/etc/.bak
SDSSconnect/SDSSconnect/etc/.coverage
SDSSconnect/SDSSconnect/etc/.installed.cfg
SDSSconnect/SDSSconnect/etc/.mr.developer.cfg
SDSSconnect/SDSSconnect/etc/.project
SDSSconnect/SDSSconnect/etc/.py[cod]
SDSSconnect/SDSSconnect/etc/.pydevproject
SDSSconnect/SDSSconnect/etc/.tox
SDSSconnect/SDSSconnect/etc/__pycache__
SDSSconnect/SDSSconnect/etc/build
SDSSconnect/SDSSconnect/etc/develop-eggs
SDSSconnect/SDSSconnect/etc/dist
SDSSconnect/SDSSconnect/etc/eggs
SDSSconnect/SDSSconnect/etc/lib
SDSSconnect/SDSSconnect/etc/lib64
SDSSconnect/SDSSconnect/etc/nosetests.xml
SDSSconnect/SDSSconnect/etc/parts
SDSSconnect/SDSSconnect/etc/pip-log.txt
SDSSconnect/SDSSconnect/etc/sdist
SDSSconnect/SDSSconnect/etc/var
SDSSconnect/SDSSconnect/lib
SDSSconnect/SDSSconnect/lib64
SDSSconnect/SDSSconnect/models/*.egg
SDSSconnect/SDSSconnect/models/*.egg-info
SDSSconnect/SDSSconnect/models/*.mo
SDSSconnect/SDSSconnect/models/*.so
SDSSconnect/SDSSconnect/models/*.sublime*
SDSSconnect/SDSSconnect/models/.bak
SDSSconnect/SDSSconnect/models/.coverage
SDSSconnect/SDSSconnect/models/.installed.cfg
SDSSconnect/SDSSconnect/models/.mr.developer.cfg
SDSSconnect/SDSSconnect/models/.project
SDSSconnect/SDSSconnect/models/.py[cod]
SDSSconnect/SDSSconnect/models/.pydevproject
SDSSconnect/SDSSconnect/models/.tox
SDSSconnect/SDSSconnect/models/__pycache__
SDSSconnect/SDSSconnect/models/build
SDSSconnect/SDSSconnect/models/develop-eggs
SDSSconnect/SDSSconnect/models/dist
SDSSconnect/SDSSconnect/models/eggs
SDSSconnect/SDSSconnect/models/lib
SDSSconnect/SDSSconnect/models/lib64
SDSSconnect/SDSSconnect/models/nosetests.xml
SDSSconnect/SDSSconnect/models/parts
SDSSconnect/SDSSconnect/models/pip-log.txt
SDSSconnect/SDSSconnect/models/sdist
SDSSconnect/SDSSconnect/models/var
SDSSconnect/SDSSconnect/nosetests.xml
SDSSconnect/SDSSconnect/parts
SDSSconnect/SDSSconnect/pip-log.txt
SDSSconnect/SDSSconnect/sdist
SDSSconnect/SDSSconnect/tests/*.egg
SDSSconnect/SDSSconnect/tests/*.egg-info
SDSSconnect/SDSSconnect/tests/*.mo
SDSSconnect/SDSSconnect/tests/*.so
SDSSconnect/SDSSconnect/tests/*.sublime*
SDSSconnect/SDSSconnect/tests/.bak
SDSSconnect/SDSSconnect/tests/.coverage
SDSSconnect/SDSSconnect/tests/.installed.cfg
SDSSconnect/SDSSconnect/tests/.mr.developer.cfg
SDSSconnect/SDSSconnect/tests/.project
SDSSconnect/SDSSconnect/tests/.py[cod]
SDSSconnect/SDSSconnect/tests/.pydevproject
SDSSconnect/SDSSconnect/tests/.tox
SDSSconnect/SDSSconnect/tests/__pycache__
SDSSconnect/SDSSconnect/tests/build
SDSSconnect/SDSSconnect/tests/develop-eggs
SDSSconnect/SDSSconnect/tests/dist
SDSSconnect/SDSSconnect/tests/eggs
SDSSconnect/SDSSconnect/tests/lib
SDSSconnect/SDSSconnect/tests/lib64
SDSSconnect/SDSSconnect/tests/nosetests.xml
SDSSconnect/SDSSconnect/tests/parts
SDSSconnect/SDSSconnect/tests/pip-log.txt
SDSSconnect/SDSSconnect/tests/sdist
SDSSconnect/SDSSconnect/tests/var
SDSSconnect/SDSSconnect/var
SDSSconnect/__pycache__
SDSSconnect/build
SDSSconnect/develop-eggs
SDSSconnect/dist
SDSSconnect/eggs
SDSSconnect/lib
SDSSconnect/lib64
SDSSconnect/nosetests.xml
SDSSconnect/parts
SDSSconnect/pip-log.txt
SDSSconnect/sdist
SDSSconnect/var
Totoro/*.egg
Totoro/*.egg-info
Totoro/*.mo
Totoro/*.so
Totoro/*.sublime*
Totoro/.bak
Totoro/.coverage
Totoro/.installed.cfg
Totoro/.mr.developer.cfg
Totoro/.project
Totoro/.py[cod]
Totoro/.pydevproject
Totoro/.tox
Totoro/__pycache__
Totoro/bin/*.egg
Totoro/bin/*.egg-info
Totoro/bin/*.mo
Totoro/bin/*.so
Totoro/bin/*.sublime*
Totoro/bin/.bak
Totoro/bin/.coverage
Totoro/bin/.installed.cfg
Totoro/bin/.mr.developer.cfg
Totoro/bin/.project
Totoro/bin/.py[cod]
Totoro/bin/.pydevproject
Totoro/bin/.tox
Totoro/bin/__pycache__
Totoro/bin/build
Totoro/bin/develop-eggs
Totoro/bin/dist
Totoro/bin/eggs
Totoro/bin/lib
Totoro/bin/lib64
Totoro/bin/nosetests.xml
Totoro/bin/parts
Totoro/bin/pip-log.txt
Totoro/bin/sdist
Totoro/bin/var
Totoro/build
Totoro/core/*.egg
Totoro/core/*.egg-info
Totoro/core/*.mo
Totoro/core/*.so
Totoro/core/*.sublime*
Totoro/core/.bak
Totoro/core/.coverage
Totoro/core/.installed.cfg
Totoro/core/.mr.developer.cfg
Totoro/core/.project
Totoro/core/.py[cod]
Totoro/core/.pydevproject
Totoro/core/.tox
Totoro/core/__pycache__
Totoro/core/build
Totoro/core/develop-eggs
Totoro/core/dist
Totoro/core/eggs
Totoro/core/lib
Totoro/core/lib64
Totoro/core/nosetests.xml
Totoro/core/parts
Totoro/core/pip-log.txt
Totoro/core/sdist
Totoro/core/var
Totoro/data/*.egg
Totoro/data/*.egg-info
Totoro/data/*.mo
Totoro/data/*.so
Totoro/data/*.sublime*
Totoro/data/.bak
Totoro/data/.coverage
Totoro/data/.installed.cfg
Totoro/data/.mr.developer.cfg
Totoro/data/.project
Totoro/data/.py[cod]
Totoro/data/.pydevproject
Totoro/data/.tox
Totoro/data/__pycache__
Totoro/data/build
Totoro/data/develop-eggs
Totoro/data/dist
Totoro/data/eggs
Totoro/data/lib
Totoro/data/lib64
Totoro/data/nosetests.xml
Totoro/data/parts
Totoro/data/pip-log.txt
Totoro/data/sdist
Totoro/data/var
Totoro/dbclasses/*.egg
Totoro/dbclasses/*.egg-info
Totoro/dbclasses/*.mo
Totoro/dbclasses/*.so
Totoro/dbclasses/*.sublime*
Totoro/dbclasses/.bak
Totoro/dbclasses/.coverage
Totoro/dbclasses/.installed.cfg
Totoro/dbclasses/.mr.developer.cfg
Totoro/dbclasses/.project
Totoro/dbclasses/.py[cod]
Totoro/dbclasses/.pydevproject
Totoro/dbclasses/.tox
Totoro/dbclasses/__pycache__
Totoro/dbclasses/build
Totoro/dbclasses/develop-eggs
Totoro/dbclasses/dist
Totoro/dbclasses/eggs
Totoro/dbclasses/lib
Totoro/dbclasses/lib64
Totoro/dbclasses/nosetests.xml
Totoro/dbclasses/parts
Totoro/dbclasses/pip-log.txt
Totoro/dbclasses/sdist
Totoro/dbclasses/var
Totoro/develop-eggs
Totoro/dist
Totoro/eggs
Totoro/ignore
Totoro/lib
Totoro/lib64
Totoro/nosetests.xml
Totoro/parts
Totoro/pip-log.txt
Totoro/scheduler/*.egg
Totoro/scheduler/*.egg-info
Totoro/scheduler/*.mo
Totoro/scheduler/*.so
Totoro/scheduler/*.sublime*
Totoro/scheduler/.bak
Totoro/scheduler/.coverage
Totoro/scheduler/.installed.cfg
Totoro/scheduler/.mr.developer.cfg
Totoro/scheduler/.project
Totoro/scheduler/.py[cod]
Totoro/scheduler/.pydevproject
Totoro/scheduler/.tox
Totoro/scheduler/__pycache__
Totoro/scheduler/build
Totoro/scheduler/develop-eggs
Totoro/scheduler/dist
Totoro/scheduler/eggs
Totoro/scheduler/lib
Totoro/scheduler/lib64
Totoro/scheduler/nosetests.xml
Totoro/scheduler/parts
Totoro/scheduler/pip-log.txt
Totoro/scheduler/sdist
Totoro/scheduler/var
Totoro/sdist
Totoro/tests/*.egg
Totoro/tests/*.egg-info
Totoro/tests/*.mo
Totoro/tests/*.so
Totoro/tests/*.sublime*
Totoro/tests/.bak
Totoro/tests/.coverage
Totoro/tests/.installed.cfg
Totoro/tests/.mr.developer.cfg
Totoro/tests/.project
Totoro/tests/.py[cod]
Totoro/tests/.pydevproject
Totoro/tests/.tox
Totoro/tests/__pycache__
Totoro/tests/bin/*.egg
Totoro/tests/bin/*.egg-info
Totoro/tests/bin/*.mo
Totoro/tests/bin/*.so
Totoro/tests/bin/*.sublime*
Totoro/tests/bin/.bak
Totoro/tests/bin/.coverage
Totoro/tests/bin/.installed.cfg
Totoro/tests/bin/.mr.developer.cfg
Totoro/tests/bin/.project
Totoro/tests/bin/.py[cod]
Totoro/tests/bin/.pydevproject
Totoro/tests/bin/.tox
Totoro/tests/bin/__pycache__
Totoro/tests/bin/build
Totoro/tests/bin/develop-eggs
Totoro/tests/bin/dist
Totoro/tests/bin/eggs
Totoro/tests/bin/lib
Totoro/tests/bin/lib64
Totoro/tests/bin/nosetests.xml
Totoro/tests/bin/parts
Totoro/tests/bin/pip-log.txt
Totoro/tests/bin/sdist
Totoro/tests/bin/var
Totoro/tests/build
Totoro/tests/develop-eggs
Totoro/tests/dist
Totoro/tests/eggs
Totoro/tests/lib
Totoro/tests/lib64
Totoro/tests/nosetests.xml
Totoro/tests/parts
Totoro/tests/pip-log.txt
Totoro/tests/sdist
Totoro/tests/var
Totoro/utils/*.egg
Totoro/utils/*.egg-info
Totoro/utils/*.mo
Totoro/utils/*.so
Totoro/utils/*.sublime*
Totoro/utils/.bak
Totoro/utils/.coverage
Totoro/utils/.installed.cfg
Totoro/utils/.mr.developer.cfg
Totoro/utils/.project
Totoro/utils/.py[cod]
Totoro/utils/.pydevproject
Totoro/utils/.tox
Totoro/utils/__pycache__
Totoro/utils/build
Totoro/utils/develop-eggs
Totoro/utils/dist
Totoro/utils/eggs
Totoro/utils/lib
Totoro/utils/lib64
Totoro/utils/nosetests.xml
Totoro/utils/parts
Totoro/utils/pip-log.txt
Totoro/utils/sdist
Totoro/utils/var
Totoro/var
/__pycache__
/build
/develop-eggs
/dist
/eggs
/lib
/lib64
/nosetests.xml
/parts
/pip-log.txt
/sdist
ups/*.egg
ups/*.egg-info
ups/*.mo
ups/*.so
ups/*.sublime*
ups/.bak
ups/.coverage
ups/.installed.cfg
ups/.mr.developer.cfg
ups/.project
ups/.py[cod]
ups/.pydevproject
ups/.tox
ups/__pycache__
ups/build
ups/develop-eggs
ups/dist
ups/eggs
ups/lib
ups/lib64
ups/nosetests.xml
ups/parts
ups/pip-log.txt
ups/sdist
ups/var
/var
