SDSSconnect/*.egg
SDSSconnect/*.egg-info
SDSSconnect/*.mo
SDSSconnect/*.so
SDSSconnect/*.sublime*
SDSSconnect/.coverage
SDSSconnect/.installed.cfg
SDSSconnect/.mr.developer.cfg
SDSSconnect/.project
SDSSconnect/.py[cod]
SDSSconnect/.pydevproject
SDSSconnect/.tox
SDSSconnect/__pycache__
SDSSconnect/build
SDSSconnect/develop-eggs
SDSSconnect/dist
SDSSconnect/eggs
SDSSconnect/etc/*.egg
SDSSconnect/etc/*.egg-info
SDSSconnect/etc/*.mo
SDSSconnect/etc/*.so
SDSSconnect/etc/*.sublime*
SDSSconnect/etc/.coverage
SDSSconnect/etc/.installed.cfg
SDSSconnect/etc/.mr.developer.cfg
SDSSconnect/etc/.project
SDSSconnect/etc/.py[cod]
SDSSconnect/etc/.pydevproject
SDSSconnect/etc/.tox
SDSSconnect/etc/__pycache__
SDSSconnect/etc/build
SDSSconnect/etc/develop-eggs
SDSSconnect/etc/dist
SDSSconnect/etc/eggs
SDSSconnect/etc/lib
SDSSconnect/etc/lib64
SDSSconnect/etc/nosetests.xml
SDSSconnect/etc/parts
SDSSconnect/etc/pip-log.txt
SDSSconnect/etc/sdist
SDSSconnect/etc/var
SDSSconnect/lib
SDSSconnect/lib64
SDSSconnect/models/*.egg
SDSSconnect/models/*.egg-info
SDSSconnect/models/*.mo
SDSSconnect/models/*.so
SDSSconnect/models/*.sublime*
SDSSconnect/models/.coverage
SDSSconnect/models/.installed.cfg
SDSSconnect/models/.mr.developer.cfg
SDSSconnect/models/.project
SDSSconnect/models/.py[cod]
SDSSconnect/models/.pydevproject
SDSSconnect/models/.tox
SDSSconnect/models/__pycache__
SDSSconnect/models/build
SDSSconnect/models/develop-eggs
SDSSconnect/models/dist
SDSSconnect/models/eggs
SDSSconnect/models/lib
SDSSconnect/models/lib64
SDSSconnect/models/nosetests.xml
SDSSconnect/models/parts
SDSSconnect/models/pip-log.txt
SDSSconnect/models/sdist
SDSSconnect/models/var
SDSSconnect/nosetests.xml
SDSSconnect/parts
SDSSconnect/pip-log.txt
SDSSconnect/sdist
SDSSconnect/tests/*.egg
SDSSconnect/tests/*.egg-info
SDSSconnect/tests/*.mo
SDSSconnect/tests/*.so
SDSSconnect/tests/*.sublime*
SDSSconnect/tests/.coverage
SDSSconnect/tests/.installed.cfg
SDSSconnect/tests/.mr.developer.cfg
SDSSconnect/tests/.project
SDSSconnect/tests/.py[cod]
SDSSconnect/tests/.pydevproject
SDSSconnect/tests/.tox
SDSSconnect/tests/__pycache__
SDSSconnect/tests/build
SDSSconnect/tests/develop-eggs
SDSSconnect/tests/dist
SDSSconnect/tests/eggs
SDSSconnect/tests/lib
SDSSconnect/tests/lib64
SDSSconnect/tests/nosetests.xml
SDSSconnect/tests/parts
SDSSconnect/tests/pip-log.txt
SDSSconnect/tests/sdist
SDSSconnect/tests/var
SDSSconnect/var
