SDSSconnect/*.egg
SDSSconnect/*.egg-info
SDSSconnect/*.mo
SDSSconnect/*.so
SDSSconnect/*.sublime*
SDSSconnect/.coverage
SDSSconnect/.installed.cfg
SDSSconnect/.mr.developer.cfg
SDSSconnect/.project
SDSSconnect/.py[cod]
SDSSconnect/.pydevproject
SDSSconnect/.tox
SDSSconnect/SDSSconnect/*.egg
SDSSconnect/SDSSconnect/*.egg-info
SDSSconnect/SDSSconnect/*.mo
SDSSconnect/SDSSconnect/*.so
SDSSconnect/SDSSconnect/*.sublime*
SDSSconnect/SDSSconnect/.coverage
SDSSconnect/SDSSconnect/.installed.cfg
SDSSconnect/SDSSconnect/.mr.developer.cfg
SDSSconnect/SDSSconnect/.project
SDSSconnect/SDSSconnect/.py[cod]
SDSSconnect/SDSSconnect/.pydevproject
SDSSconnect/SDSSconnect/.tox
SDSSconnect/SDSSconnect/__pycache__
SDSSconnect/SDSSconnect/build
SDSSconnect/SDSSconnect/develop-eggs
SDSSconnect/SDSSconnect/dist
SDSSconnect/SDSSconnect/eggs
SDSSconnect/SDSSconnect/lib
SDSSconnect/SDSSconnect/lib64
SDSSconnect/SDSSconnect/nosetests.xml
SDSSconnect/SDSSconnect/parts
SDSSconnect/SDSSconnect/pip-log.txt
SDSSconnect/SDSSconnect/sdist
SDSSconnect/SDSSconnect/tests/*.egg
SDSSconnect/SDSSconnect/tests/*.egg-info
SDSSconnect/SDSSconnect/tests/*.mo
SDSSconnect/SDSSconnect/tests/*.so
SDSSconnect/SDSSconnect/tests/*.sublime*
SDSSconnect/SDSSconnect/tests/.coverage
SDSSconnect/SDSSconnect/tests/.installed.cfg
SDSSconnect/SDSSconnect/tests/.mr.developer.cfg
SDSSconnect/SDSSconnect/tests/.project
SDSSconnect/SDSSconnect/tests/.py[cod]
SDSSconnect/SDSSconnect/tests/.pydevproject
SDSSconnect/SDSSconnect/tests/.tox
SDSSconnect/SDSSconnect/tests/__pycache__
SDSSconnect/SDSSconnect/tests/build
SDSSconnect/SDSSconnect/tests/develop-eggs
SDSSconnect/SDSSconnect/tests/dist
SDSSconnect/SDSSconnect/tests/eggs
SDSSconnect/SDSSconnect/tests/lib
SDSSconnect/SDSSconnect/tests/lib64
SDSSconnect/SDSSconnect/tests/nosetests.xml
SDSSconnect/SDSSconnect/tests/parts
SDSSconnect/SDSSconnect/tests/pip-log.txt
SDSSconnect/SDSSconnect/tests/sdist
SDSSconnect/SDSSconnect/tests/var
SDSSconnect/SDSSconnect/var
SDSSconnect/__pycache__
SDSSconnect/build
SDSSconnect/develop-eggs
SDSSconnect/dist
SDSSconnect/eggs
SDSSconnect/lib
SDSSconnect/lib64
SDSSconnect/nosetests.xml
SDSSconnect/parts
SDSSconnect/pip-log.txt
SDSSconnect/sdist
SDSSconnect/var
